[submodule "backend"]
	path = backend
	url = https://github.com/MaxAtslega/audio-player__backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MaxAtslega/audio-player__frontend.git
